<h2>Categories</h2>

<ul class="categories">
  <li *ngFor="let category of categories">
              
              <span class="badge">{{category.idCategory}}</span>{{category.categoryname}}
       

  </li>
</ul>