
<h2>Products</h2>

<ul class="products">
  <li *ngFor="let product of products "  (click)="onSelect(product)">
         
        <a  href="product/{{product.id}}">
            <span class="badge">{{product.id}}</span>{{product.name}}
        </a>
  </li>
</ul>